<div class="page__footer-copyright">
  <span class="copyright-line">
    &copy; {% assign site_time = site.time | date: '%Y' %}{% if site.footer.since and site_time != site.footer.since %}{{ site.footer.since }}&ndash;{% endif %}{{ site_time }}
    <a href="{{ site.copyright_url | default: '/' | relative_url }}">{{ site.copyright | default: site.title | escape_once | strip }}</a>.
    All rights reserved.
  </span>
  <span class="copyright-line">
    The 8th Joint Korea&ndash;Japan Workshop on Management of Data
    <span class="copyright-sep">&middot;</span>
    POSTECH
    <span class="copyright-sep">&middot;</span>
    The University of Osaka
  </span>
</div>
